doctype html
html(lang="en")
  head
    title= TimeApi By Nnenanya O.K
  body
    h1 API Basejump: Timestamp microservice
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.




h1 Hello World
p Today is #{date}.